.example-container {
  height: 100vh;
}

.example-sidenav {
  width: 220px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 16px;
}

mat-drawer-content {
  background: #f5f5f5; /* gris clair ou blanc */
  min-height: 100vh;
}
