<mat-drawer-container class="example-container vh-100">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        <span matLine (click)="navigateToUsers()">{{'app.drawer.users' | translate }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>receipt_long</mat-icon>
        <span matLine>{{'app.drawer.orders' | translate }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>business</mat-icon>
        <span matLine>{{'app.drawer.clients' | translate }}</span>
      </mat-list-item>
    
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <app-header (menuToggle)="drawer.toggle()"></app-header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
